# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~

#Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#Composer
composer.phar
/vendor/

*.rar